# Ignore artifacts:
dist
node_modules
coverage
build
.next
out

# Ignore specific file types
*.css
*.scss
*.svg
*.json
*.html
*.md

# Ignore specific files
.DS_Store
.env
.env.*
*.log

# Ignore declaration files
**/*.d.ts