@use 'sass:map';

@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.design-tokens' as color-maps;
@use '../01-settings/settings.colors' as colors;

// Define utilities for text
$utilities-text: (
  'font-size': (
    rfs: true,
    property: font-size,
    class: u-fs,
    values: map.merge(
        color-maps.$font-sizes-extended,
        (
          xs: map.get(color-maps.$font-sizes-extended, 'xs'),
          sm: map.get(color-maps.$font-sizes-extended, 'sm'),
          base: map.get(color-maps.$font-sizes-extended, 'base'),
          lg: map.get(color-maps.$font-sizes-extended, 'lg'),
          xl: map.get(color-maps.$font-sizes-extended, 'xl'),
          '2xl': map.get(color-maps.$font-sizes-extended, '2xl'),
          '3xl': map.get(color-maps.$font-sizes-extended, '3xl'),
          '4xl': map.get(color-maps.$font-sizes-extended, '4xl'),
          '5xl': map.get(color-maps.$font-sizes-extended, '5xl'),
          '6xl': map.get(color-maps.$font-sizes-extended, '6xl'),
          1: map.get(color-maps.$font-sizes-extended, 'h1'),
          2: map.get(color-maps.$font-sizes-extended, 'h2'),
          3: map.get(color-maps.$font-sizes-extended, 'h3'),
          4: map.get(color-maps.$font-sizes-extended, 'h4'),
          5: map.get(color-maps.$font-sizes-extended, 'h5'),
          6: map.get(color-maps.$font-sizes-extended, 'h6'),
        )
      ),
  ),
  'font-style': (
    property: font-style,
    class: u,
    values: (
      italic: italic,
      not-italic: normal,
    ),
  ),
  'font-weight': (
    property: font-weight,
    class: u-font,
    values: color-maps.$theme-font-weight,
  ),
  'line-height': (
    property: line-height,
    class: u-leading,
    values: map.merge(
        color-maps.$line-heights,
        (
          none: 1,
          tight: 1.25,
          snug: 1.375,
          normal: 1.5,
          relaxed: 1.625,
          loose: 2,
          1: 1,
        )
      ),
  ),
  'text-align': (
    responsive: true,
    property: text-align,
    class: u-text,
    values: (
      start: start,
      end: end,
      center: center,
    ),
  ),
  'text-decoration': (
    property: text-decoration,
    class: u,
    values: (
      'underline': underline,
      'line-through': line-through,
      'no-underline': none,
    ),
  ),
  'text-transform': (
    property: text-transform,
    class: u-text,
    values: lowercase uppercase capitalize,
  ),
  'white-space': (
    property: white-space,
    class: u-text,
    values: (
      wrap: normal,
      nowrap: nowrap,
    ),
  ),
  'word-wrap': (
    property: word-wrap word-break,
    class: u-text,
    values: (
      break: break-word,
    ),
  ),
  'color': (
    property: color,
    class: u-text,
    values: color-maps.$utilities-text-colors,
  ),
  'text-emphasis-color': (
    property: color,
    class: u-text,
    values: color-maps.$utilities-text-emphasis-colors,
  ),
);
