@use '../01-settings/settings.motion' as motion;

// Define utilities for CSS transitions
$utilities-transition: (
  'transition-property': (
    property: transition-property,
    class: u-transition,
    values: motion.$utility-transition-properties,
  ),
  'transition-duration': (
    property: transition-duration,
    class: u-duration,
    values: motion.$utility-transition-durations,
  ),
  'transition-timing-function': (
    property: transition-timing-function,
    class: u-ease,
    values: motion.$utility-transition-timing-functions,
  ),
);
