@use 'sass:map';

// Define utilities for display
$utilities-display: (
  'display': (
    responsive: true,
    print: true,
    property: display,
    class: u,
    values: (
      inline: inline,
      'inline-block': inline-block,
      block: block,
      grid: grid,
      'inline-grid': inline-grid,
      table: table,
      'table-row': table-row,
      'table-cell': table-cell,
      flex: flex,
      'inline-flex': inline-flex,
      none: none,
    ),
  ),
);
