@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.grid' as grid;
@use '../02-tools/tools.grid' as *;
@use '../02-tools/tools.breakpoints' as *;
@use '../02-tools/tools.rem' as *;

.o-grid {
  --#{config.$prefix}gutter-y: #{rem(grid.$grid-gutter-width)};
  @include make-row();
  row-gap: var(--#{config.$prefix}gutter-y);

  &__col {
    @include make-col-ready();
  }

  &--no-gutters {
    --#{config.$prefix}gutter-y: 0;
    margin-right: 0;
    margin-left: 0;

    .o-grid__col {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@include grid-columns();
