@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;

.c-image-gallery {
  @include animations(
    'slow-fade-in' 'color-shift',
    $duration: 2s,
    $timing: ease-out,
    $iteration-count: 1
  );
}

.c-image-gallery__item {
  @include animations(
    'float' 'color-pulse',
    $duration: 5s,
    $timing: ease-in-out,
    $iteration-count: infinite
  );

  &:hover {
    @include animations(
      'pulse-slow' 'chill-rainbow',
      $duration: 1s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }
}
