@use '../01-settings/_settings.config' as *;
@use '../01-settings/_settings.dropdown' as *;
@use '../02-tools/_tools.rem' as *;
@use '../02-tools/_tools.animations' as *;
@use '../02-tools/_tools.spacing' as *;

.c-dropdown {
  $root: &;

  --#{$prefix}dropdown-min-width: #{rem($dropdown-min-width)};
  --#{$prefix}dropdown-padding-x: #{if($dropdown-padding-x == 0, 0, rem($dropdown-padding-x))};
  --#{$prefix}dropdown-padding-y: #{rem($dropdown-padding-y)};
  --#{$prefix}dropdown-spacer: #{rem($dropdown-spacer)};
  --#{$prefix}dropdown-font-size: #{$dropdown-font-size};
  --#{$prefix}dropdown-color: #{$dropdown-color};
  --#{$prefix}dropdown-bg: #{$dropdown-bg};
  --#{$prefix}dropdown-border-color: #{$dropdown-border-color};
  --#{$prefix}dropdown-border-radius: #{$dropdown-border-radius};
  --#{$prefix}dropdown-border-width: #{$dropdown-border-width};
  --#{$prefix}dropdown-box-shadow: #{$dropdown-box-shadow};
  --#{$prefix}dropdown-link-color: #{$dropdown-link-color};
  --#{$prefix}dropdown-link-hover-color: #{$dropdown-link-hover-color};
  --#{$prefix}dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
  --#{$prefix}dropdown-link-border-radius: #{$dropdown-link-border-radius};
  --#{$prefix}dropdown-active-color: #{$dropdown-link-active-color};
  --#{$prefix}dropdown-active-bg: #{$dropdown-link-active-bg};
  --#{$prefix}dropdown-item-padding-x: #{rem($dropdown-item-padding-x)};
  --#{$prefix}dropdown-item-padding-y: #{rem($dropdown-item-padding-y)};

  display: inline-block;
  position: relative;


  &__toggle {
    width: 100%;
    cursor: pointer;
  }

  &__toggle-icon {
    @include basic-transition();
  }

  &__menu-wrapper {
    position: absolute;
    left: 0;
    display: grid;
    grid-template-rows: 0fr;
    z-index: 99;
    @include basic-transition();
  }

  &__menu-inner {
    width: 100%;
    min-width: var(--#{$prefix}dropdown-min-width);
    border-radius: var(--#{$prefix}dropdown-border-radius);
    box-shadow: var(--#{$prefix}dropdown-box-shadow);
    overflow: hidden;
  }

  &__menu {
    width: 100%;
    padding: var(--#{$prefix}dropdown-padding-y) var(--#{$prefix}dropdown-padding-x);
    list-style: none;
    @include mb(0);
    background-color: var(--#{$prefix}dropdown-bg);
    border-radius: var(--#{$prefix}dropdown-border-radius);
    box-shadow: var(--#{$prefix}dropdown-box-shadow);
    overflow: hidden;
  }

  &__menu-item {
    border-radius: var(--#{$prefix}dropdown-link-border-radius);
    overflow: hidden;
  }

  &__menu-link {
    display: block;
    color: var(--#{$prefix}dropdown-link-color);
    font-size: var(--#{$prefix}dropdown-font-size);
    padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);
    @include basic-transition();

    &:hover {
      color: var(--#{$prefix}dropdown-link-hover-color);
      background-color: var(--#{$prefix}dropdown-link-hover-bg);
    }
  }

  &--onclick {
    #{$root}__toggle {
        &:focus-within ~ #{$root}__menu-wrapper {
            grid-template-rows: 1fr;
        }

        &:focus-within #{$root}__toggle-icon {
          transform: rotate(-180deg);
        }
      }
  }

  &:not(#{$root}--onclick) {
    &:hover {
        #{$root}__menu-wrapper {
            grid-template-rows: 1fr;
        }

        #{$root}__toggle-icon {
          transform: rotate(-180deg);
        }
    }
  }
}
