@use "settings.typography" as typography;
@use "settings.config" as config;
@use "settings.border-radius" as border-radius;

$dropdown-min-width:                180px !default;
$dropdown-font-size:                typography.$font-size-base !default;
$dropdown-color:                    var(--#{config.$prefix}body-color) !default;
$dropdown-bg:                       var(--#{config.$prefix}body-bg) !default;
$dropdown-border-color:             var(--#{config.$prefix}border-primary-subtle) !default;
$dropdown-border-radius:            border-radius.$border-radius !default;
$dropdown-border-width:             1px !default;
$dropdown-padding-x:                0 !default;
$dropdown-padding-y:                8px !default;
$dropdown-spacer:                   4px !default;
$dropdown-box-shadow:               var(--#{config.$prefix}box-shadow) !default;

$dropdown-item-padding-x:           16px !default;
$dropdown-item-padding-y:           8px !default;
$dropdown-item-hover-color:         var(--#{config.$prefix}body-color) !default;
$dropdown-item-hover-bg:            var(--#{config.$prefix}secondary-bg-subtle) !default;

// Link variables
$dropdown-link-color:               var(--#{config.$prefix}body-color) !default;
$dropdown-link-hover-color:         var(--#{config.$prefix}body-color) !default;
$dropdown-link-hover-bg:            var(--#{config.$prefix}secondary-bg-subtle) !default;
$dropdown-link-active-color:        var(--#{config.$prefix}primary-text-emphasis) !default;
$dropdown-link-active-bg:           var(--#{config.$prefix}primary-bg-subtle) !default;
$dropdown-link-border-radius:       border-radius.$border-radius-sm !default;

$dropdown-header-color:             var(--#{config.$prefix}tertiary-text-emphasis) !default;
$dropdown-header-padding:           $dropdown-item-padding-y $dropdown-item-padding-x !default;

$dropdown-divider-margin-y:         8px !default;
$dropdown-divider-bg:               var(--#{config.$prefix}border-primary-subtle) !default;