@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.colors' as *;
@use '../01-settings/settings.maps' as maps;
@use '../01-settings/settings.rating' as rating;
@use '../02-tools/tools.rem' as rem;
@use '../02-tools/tools.size' as size;

.c-rating {
  $root: &;

  --#{config.$prefix}rating-star-size: #{rating.$rating-star-size};
  --#{config.$prefix}rating-star-bg: #{rating.$rating-star-bg};
  --#{config.$prefix}rating-star-half-bg: #{rating.$rating-star-half-bg};
  --#{config.$prefix}rating-stars-gap: #{rem.rem(rating.$rating-stars-gap)};

  display: flex;
  gap: var(--#{config.$prefix}rating-stars-gap);

  &__star {

    svg {
      @include size.square(var(--#{config.$prefix}rating-star-size));
    }

    &--full {
      #{$root}__star-full {
        fill: var(--#{config.$prefix}rating-star-bg);
      }
    }

    &--half {
      #{$root}__star-half {
        display: block;
      }
    }

    @each $color, $value in maps.$theme-colors {
      &--#{$color} {
        --#{config.$prefix}rating-star-bg: #{$value};
      }
    }
  }

  &__star-half {
    display: none;

    rect {
      fill: var(--#{config.$prefix}rating-star-bg);
    }
  }

  &__star-full {
    stroke: var(--#{config.$prefix}rating-star-bg);
  }

  &--sm {
    --#{config.$prefix}rating-star-size: #{rating.$rating-star-size-sm};
  }

  &--lg {
    --#{config.$prefix}rating-star-size: #{rating.$rating-star-size-lg};
  }

  @each $color, $value in maps.$theme-colors {
    &--#{$color} {
      --#{config.$prefix}rating-star-bg: #{$value};
    }
  }
}
