.c-modal {
  $root: &;

  --#{$prefix}modal-inner-padding: #{rem($modal-inner-padding)};

  --#{$prefix}modal-content-color: #{$modal-content-color};
  --#{$prefix}modal-content-bg: #{$modal-content-bg};
  --#{$prefix}modal-content-border-radius: #{$modal-content-border-radius};
  --#{$prefix}modal-content-box-shadow: #{$modal-content-box-shadow};

  --#{$prefix}modal-header-padding-bottom: #{rem($modal-header-padding-bottom)};
  --#{$prefix}modal-title-font-size: #{$modal-title-font-size};
  --#{$prefix}modal-sub-margin-top: #{rem($modal-sub-margin-top)};
  --#{$prefix}modal-sub-color: #{$modal-sub-color};
  --#{$prefix}modal-sub-font-size: #{$modal-sub-font-size};

  --#{$prefix}modal-footer-items-gap: #{rem($modal-footer-items-gap)};

  --#{$prefix}modal-backdrop-bg: #{$modal-backdrop-bg};
  --#{$prefix}modal-backdrop-opacity: #{$modal-backdrop-opacity};
  --#{$prefix}modal-backdrop-blur: #{$modal-backdrop-blur};

  --#{$prefix}modal-close-icon-color: #{$modal-close-icon-color};
  --#{$prefix}modal-close-icon-size: #{rem($modal-close-icon-size)};

  --#{$prefix}modal-sm: #{rem($modal-sm)};
  --#{$prefix}modal-md: #{rem($modal-md)};
  --#{$prefix}modal-lg: #{rem($modal-lg)};
  --#{$prefix}modal-xl: #{rem($modal-xl)};
  --#{$prefix}modal-width: var(--#{$prefix}modal-md);

  position: fixed;
  inset: 0;
  @include square(100%);
  display: none;

  &__backdrop {
    position: absolute;
    inset: 0;
    background-color: var(--#{$prefix}modal-backdrop-bg);
    opacity: 0;
    transition: 0.3s;
  }

  &__dialog {
    position: relative;
    display: flex;
    align-items: center;
    max-width: var(--#{$prefix}modal-width);
    height: 100%;
    padding: var(--#{$prefix}modal-inner-padding);
    margin: {
      left: auto;
      right: auto;
    }
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    transition: 0.3s ease;
    will-change: transform;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: var(--#{$prefix}modal-inner-padding);
    background-color: var(--#{$prefix}modal-content-bg);
    box-shadow: var(--#{$prefix}modal-content-box-shadow);
    border-radius: var(--#{$prefix}modal-content-border-radius);
    overflow: hidden;
    pointer-events: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: var(--#{$prefix}modal-header-padding-bottom);
  }

  &__title {
    font-size: var(--#{$prefix}modal-title-font-size);
  }

  &__sub {
    color: var(--#{$prefix}modal-sub-color);
    font-size: var(--#{$prefix}modal-sub-font-size);
    margin-top: var(--#{$prefix}modal-sub-margin-top);
  }

  &__body {
    padding: var(--#{$prefix}modal-inner-padding) 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: var(--#{$prefix}modal-footer-items-gap);
    padding-top: var(--#{$prefix}modal-inner-padding);
  }

  &__close {
    @include pr(0);
    @include pt(0);
    cursor: pointer;
    user-select: none;
    z-index: 3;

    svg {
      @include square(var(--#{$prefix}modal-close-icon-size));
    }
  }

  &--sm {
    --#{$prefix}modal-width: var(--#{$prefix}modal-sm);
  }

  &--md {
    --#{$prefix}modal-width: var(--#{$prefix}modal-md);
  }

  &--lg {
    --#{$prefix}modal-width: var(--#{$prefix}modal-lg);
  }

  &--xl {
    --#{$prefix}modal-width: var(--#{$prefix}modal-xl);
  }

  &.is-open {
    
    #{$root} {
      &__backdrop {
        opacity: var(--#{$prefix}modal-backdrop-opacity);
      }

      &__dialog {
        opacity: 1;
      }
    }
  }
}
