
.c-list-group {

    --#{$prefix}list-group-width: #{$list-group-width};
    --#{$prefix}list-group-bg: #{$list-group-bg};
    --#{$prefix}list-group-item-padding-y: #{rem($list-group-item-padding-y)};
    --#{$prefix}list-group-item-padding-x: #{rem($list-group-item-padding-x)};
    --#{$prefix}list-group-item-font-size: #{$list-group-item-font-size};
    --#{$prefix}list-group-item-color: #{$list-group-item-color};
    --#{$prefix}list-group-item-disabled-color: #{$list-group-item-disabled-color};
    --#{$prefix}list-group-item-border-color: #{$list-group-item-border-color};
    --#{$prefix}list-group-item-border-width: #{$list-group-item-border-width};
    --#{$prefix}list-group-item-bg: #{$list-group-item-bg};


    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    max-width: var(--#{$prefix}list-group-width);
    background: var(--#{$prefix}list-group-bg);

    &__item {
        padding: var(--#{$prefix}list-group-item-padding-y) var(--#{$prefix}list-group-item-padding-x);
        font-size: var(--#{$prefix}list-group-item-font-size);
        color: var(--#{$prefix}list-group-item-color);
        border-bottom: var(--#{$prefix}list-group-item-border-width) solid var(--#{$prefix}list-group-item-border-color);
        background: var(--#{$prefix}list-group-item-bg);

        @each $state in map-keys($theme-colors) {
            &--#{$state} {
                @if($state == 'light') {
                    --#{$prefix}list-group-item-bg: var(--#{$prefix}#{$state});
                }@else if ($state == 'dark'){
                    --#{$prefix}list-group-item-color: var(--#{$prefix}invert-text-emphasis);
                    --#{$prefix}list-group-item-bg: var(--#{$prefix}#{$state});

                    // @include color-mode('dark') {
                    //     --#{$prefix}list-group-item-color: var(--#{$prefix}body-color);
                    // }
                }@else if($state == 'primary'){
                    --#{$prefix}list-group-item-bg: var(--#{$prefix}brand-bg-subtle);
                }@else {
                    --#{$prefix}list-group-item-bg: var(--#{$prefix}#{$state}-bg-subtle);
                }
            }
        }


        &--disabled {
            --#{$prefix}list-group-item-color: var(--#{$prefix}list-group-item-disabled-color);
        }
    }
}
