.c-atomix-glass {
  &__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  // Border effect layers
  &__border-1,
  &__border-2 {
    padding: var(--atomix-glass-border-width, 1.5px);
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
    pointer-events: none;
  }

  &__border-1 {
    opacity: 0.2;
    mix-blend-mode: screen;
    box-shadow:
      0 0 0.5px rgba(255, 255, 255, 0.5) inset,
      0 1px 3px 0.5px rgba(0, 0, 0, 0.5),
      0 1px 3px 0.5px rgba(0, 0, 0, 0.5) inset;
  }

  &__border-2 {
    box-shadow:
      0 0 0.5px rgba(255, 255, 255, 0.5) inset,
      0 1px 3px 0.5px rgba(0, 0, 0, 0.5);
  }

  // Interactive hover effects
  &__hover-1,
  &__hover-2,
  &__hover-3 {
    pointer-events: none;
    mix-blend-mode: overlay;
  }

  &__hover-1 {
    transition: opacity .2s ease-out;
  }

  &__hover-2 {
    transition: opacity .4s ease-out;
  }

  &__hover-3 {
    transition: opacity .6s ease-out;
  }

  // Base and overlay layers for over-light mode
  &__base {
    pointer-events: none;
  }

  &__overlay {
    // mix-blend-mode: overlay;
    pointer-events: none;
  }

  &__content {
  }
}
