.c-popover {
  $root: &;

  --#{$prefix}popover-max-width: #{rem($popover-max-width)};
  --#{$prefix}popover-padding-x: #{rem($popover-padding-x)};
  --#{$prefix}popover-padding-y: #{rem($popover-padding-y)};
  --#{$prefix}popover-inner-gap-x: #{rem($popover-inner-gap-x)};
  --#{$prefix}popover-inner-gap-y: #{rem($popover-inner-gap-y)};
  --#{$prefix}popover-bg: #{$popover-bg};
  --#{$prefix}popover-border-radius: #{$popover-border-radius};
  --#{$prefix}popover-box-shadow: #{$popover-box-shadow};

  position: relative;
  width: 100%;
  max-width: var(--#{$prefix}popover-max-width);

  &__content {
    position: relative;
  }

  &__content-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}popover-inner-gap-y)
      var(--#{$prefix}popover-inner-gap-x);
    padding: var(--#{$prefix}popover-padding-x)
      var(--#{$prefix}popover-padding-y);
    background: var(--#{$prefix}popover-bg);
    border-radius: var(--#{$prefix}popover-border-radius);
    box-shadow: var(--#{$prefix}popover-box-shadow);
  }

  &__arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--#{$prefix}popover-bg);
    box-shadow: var(--#{$prefix}popover-box-shadow);
    clip-path: polygon(100% 0, 0 0, 0 100%);
    z-index: 1;
  }

  &--top {
    #{$root}__arrow {
      top: 0;
      left: 12px;
      transform: translateY(-50%) translateX(0) rotate(45deg);
    }
  }

  &--right {
    #{$root}__arrow {
      right: 0;
      top: 12px;
      transform: translateY(0%) translateX(50%) rotate(135deg);
    }
  }

  &--bottom {
    #{$root}__arrow {
      bottom: 0;
      left: 12px;
      transform: translateY(50%) translateX(0) rotate(-135deg);
    }
  }

  &--left {
    #{$root}__arrow {
      left: 0;
      top: 12px;
      transform: translateY(-0%) translateX(-50%) rotate(-45deg);
    }
  }
}
