@use '../01-settings/settings.config' as *;
@use '../01-settings/settings.tooltip' as *;
@use '../02-tools/tools.rem' as *;
@use '../02-tools/tools.size' as *;
@use '../02-tools/tools.background' as *;

.c-tooltip {
  $root: &;

  --#{$prefix}tooltip-max-width: #{rem($tooltip-max-width)};
  --#{$prefix}tooltip-padding-x: #{rem($tooltip-padding-x)};
  --#{$prefix}tooltip-padding-y: #{rem($tooltip-padding-y)};
  --#{$prefix}tooltip-bg: #{$tooltip-bg};
  --#{$prefix}tooltip-font-size: #{$tooltip-font-size};
  --#{$prefix}tooltip-font-weight: #{$tooltip-font-weight};
  --#{$prefix}tooltip-color: #{$tooltip-color};
  --#{$prefix}tooltip-border-radius: #{$tooltip-border-radius};
  --#{$prefix}tooltip-border-width: #{$tooltip-border-width};
  --#{$prefix}tooltip-border-color: #{$tooltip-border-color};
  --#{$prefix}tooltip-box-shadow: #{$tooltip-box-shadow};
  --#{$prefix}tooltip-arrow-size: #{rem($tooltip-arrow-size)};
  --#{$prefix}tooltip-offset: #{rem($tooltip-arrow-size)}; // Default offset

  position: absolute;
  width: max-content;
  height: max-content;
  max-width: var(--#{$prefix}tooltip-max-width);
  pointer-events: none; // Wrapper shouldn't block clicks, but content might
  z-index: 1000;

  // Base positioning logic
  &--top,
  &--top-left,
  &--top-right {
    bottom: calc(100% + var(--#{$prefix}tooltip-offset));
    transform-origin: bottom center;
  }

  &--bottom,
  &--bottom-left,
  &--bottom-right {
    top: calc(100% + var(--#{$prefix}tooltip-offset));
    transform-origin: top center;
  }

  &--left {
    right: calc(100% + var(--#{$prefix}tooltip-offset));
    top: 50%;
    transform: translateY(-50%);
    transform-origin: right center;
  }

  &--right {
    left: calc(100% + var(--#{$prefix}tooltip-offset));
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  // Horizontal alignment for top/bottom
  &--top,
  &--bottom {
    left: 50%;
    transform: translateX(-50%);
  }

  &--top-left,
  &--bottom-left {
    left: 0;
  }

  &--top-right,
  &--bottom-right {
    right: 0;
  }

  &__content {
    position: relative;
    color: var(--#{$prefix}tooltip-color);
    font-size: var(--#{$prefix}tooltip-font-size);
    font-weight: var(--#{$prefix}tooltip-font-weight);
    padding: var(--#{$prefix}tooltip-padding-y) var(--#{$prefix}tooltip-padding-x);
    @include dynamic-background(var(--#{$prefix}tooltip-bg));
    border-radius: var(--#{$prefix}tooltip-border-radius);
    box-shadow: var(--#{$prefix}tooltip-box-shadow);
    z-index: 2;
    opacity: 0;
    pointer-events: auto; // Allow interaction with tooltip content

    // Animation
    transition:
      opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    // Initial states for animation based on position would be complex to do purely generically here without separate classes
    // So we stick to a simple scale/fade
    transform: scale(0.95);

    &.is-active {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__arrow {
    position: absolute;
    width: var(--#{$prefix}tooltip-arrow-size);
    height: var(--#{$prefix}tooltip-arrow-size);
    @include dynamic-background(var(--#{$prefix}tooltip-bg));
    z-index: 1;
    transform: rotate(45deg);
  }

  // Arrow positioning
  &--top &__arrow,
  &--top-left &__arrow,
  &--top-right &__arrow {
    bottom: calc(var(--#{$prefix}tooltip-arrow-size) / -2);
  }

  &--bottom &__arrow,
  &--bottom-left &__arrow,
  &--bottom-right &__arrow {
    top: calc(var(--#{$prefix}tooltip-arrow-size) / -2);
  }

  &--left &__arrow {
    right: calc(var(--#{$prefix}tooltip-arrow-size) / -2);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &--right &__arrow {
    left: calc(var(--#{$prefix}tooltip-arrow-size) / -2);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  // Arrow horizontal alignment
  &--top &__arrow,
  &--bottom &__arrow {
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  &--top-left &__arrow,
  &--bottom-left &__arrow {
    left: var(--#{$prefix}tooltip-arrow-size);
  }

  &--top-right &__arrow,
  &--bottom-right &__arrow {
    right: var(--#{$prefix}tooltip-arrow-size);
  }
}