.c-sectionintro {
  $root: &;

  --#{$prefix}sectionintro-padding-x: #{rem($sectionintro-padding-x)};
  --#{$prefix}sectionintro-padding-y: #{rem($sectionintro-padding-y)};
  --#{$prefix}sectionintro-title-font-size: #{$sectionintro-title-font-size};
  --#{$prefix}sectionintro-text-font-size: #{$sectionintro-text-font-size};
  --#{$prefix}sectionintro-title-color: #{$sectionintro-title-color};
  --#{$prefix}sectionintro-text-color: #{$sectionintro-text-color};
  --#{$prefix}sectionintro-title-font-weight: #{$sectionintro-title-font-weight};
  --#{$prefix}sectionintro-text-font-weight: #{$sectionintro-text-font-weight};
  --#{$prefix}sectionintro-label-margin-bottom: #{rem(
      $sectionintro-label-margin-bottom
    )};
  --#{$prefix}sectionintro-text-margin-top: #{rem($sectionintro-text-margin-top)};
  --#{$prefix}sectionintro-actions-margin-top: #{rem(
      $sectionintro-actions-margin-top
    )};
  --#{$prefix}sectionintro-actions-inner-gap: #{rem(
      $sectionintro-actions-inner-gap
    )};
  --#{$prefix}sectionintro-width: #{rem($sectionintro-width)};

  width: 100%;
  max-width: var(--#{$prefix}sectionintro-width);
  padding: var(--#{$prefix}sectionintro-padding-y)
    var(--#{$prefix}sectionintro-padding-x);

  &__label {
    margin-bottom: var(--#{$prefix}sectionintro-label-margin-bottom);
  }

  &__title {
    color: var(--#{$prefix}sectionintro-title-color);
    font-size: var(--#{$prefix}sectionintro-title-font-size);
    font-weight: var(--#{$prefix}sectionintro-title-font-weight);
  }

  &__text {
    color: var(--#{$prefix}sectionintro-text-color);
    font-size: var(--#{$prefix}sectionintro-text-font-size);
    font-weight: var(--#{$prefix}sectionintro-text-font-weight);
    margin-top: var(--#{$prefix}sectionintro-text-margin-top);
  }

  &__actions {
    display: flex;
    gap: var(--#{$prefix}sectionintro-actions-inner-gap);
    margin-top: var(--#{$prefix}sectionintro-actions-margin-top);
  }

  &--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: {
      left: auto;
      right: auto;
    }
  }

  &--right {
    margin-left: auto;
    text-align: right;
    
    #{$root}__actions {
      justify-content: flex-end;
    }
  }
}
