@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.pagination' as pagination;
@use '../02-tools/tools.rem' as rem;
@use '../02-tools/tools.size' as size;

.c-pagination {
  $root: &;

  --#{config.$prefix}pagination-padding-x: #{rem.rem(pagination.$pagination-padding-x)};
  --#{config.$prefix}pagination-padding-y: #{rem.rem(pagination.$pagination-padding-y)};
  --#{config.$prefix}pagination-size: #{rem.rem(pagination.$pagination-size)};
  --#{config.$prefix}pagination-font-size: #{pagination.$pagination-font-size};
  --#{config.$prefix}pagination-color: #{pagination.$pagination-color};
  --#{config.$prefix}pagination-bg: #{pagination.$pagination-bg};
  --#{config.$prefix}pagination-focus-border-color: #{pagination.$pagination-focus-border-color};
  --#{config.$prefix}pagination-focus-border-width: #{pagination.$pagination-focus-border-width};
  --#{config.$prefix}pagination-hover-color: #{pagination.$pagination-hover-color};
  --#{config.$prefix}pagination-hover-bg: #{pagination.$pagination-hover-bg};
  --#{config.$prefix}pagination-active-color: #{pagination.$pagination-active-color};
  --#{config.$prefix}pagination-active-bg: #{pagination.$pagination-active-bg};
  --#{config.$prefix}pagination-disabled-color: #{pagination.$pagination-disabled-color};
  --#{config.$prefix}pagination-disabled-bg: #{pagination.$pagination-disabled-bg};
  --#{config.$prefix}pagination-border-radius: #{pagination.$pagination-border-radius};

  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  &__item {
    display: flex;
    align-items: center;
    @include size.square(var(--#{config.$prefix}pagination-size));

    overflow: hidden;
  }

  &__link {
    @include size.square(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--#{config.$prefix}pagination-color);
    font-size: var(--#{config.$prefix}pagination-font-size);
    padding: var(--#{config.$prefix}pagination-padding-y)
      var(--#{config.$prefix}pagination-padding-x);
    background-color: var(--#{config.$prefix}pagination-bg);
    border-radius: var(--#{config.$prefix}pagination-border-radius);


    &:hover {
      --#{config.$prefix}pagination-color: var(--#{config.$prefix}pagination-hover-color);
      --#{config.$prefix}pagination-bg: var(--#{config.$prefix}pagination-hover-bg);
    }


    &:active,
    &.is-active {
      --#{config.$prefix}pagination-color: var(--#{config.$prefix}pagination-active-color);
      --#{config.$prefix}pagination-bg: var(--#{config.$prefix}pagination-active-bg);
    }

    &.is-active {
      pointer-events: none;
    }

    &.is-disabled {
      --#{config.$prefix}pagination-color: var(--#{config.$prefix}pagination-disabled-color);
      --#{config.$prefix}pagination-bg: var(--#{config.$prefix}pagination-disabled-bg);
      pointer-events: none;
    }

    &:focus-visible {
      outline: none;
      border-radius: 0;
      border: var(--#{config.$prefix}pagination-focus-border-width) solid var(--#{config.$prefix}pagination-focus-border-color);
    }
  }

  &--sm {
    --#{config.$prefix}pagination-size: #{pagination.$pagination-size-sm};
  }

  &--lg {
    --#{config.$prefix}pagination-size: #{pagination.$pagination-size-lg};
  }
}
