.c-nav {
  $root: &;

  --#{$prefix}nav-item-gap-x: #{rem($lux-nav-item-gap-x)};
  --#{$prefix}nav-link-padding-x: #{rem($lux-nav-link-padding-x)};
  --#{$prefix}nav-link-padding-y: #{rem($lux-nav-link-padding-y)};
  --#{$prefix}nav-link-font-size: #{$lux-nav-link-font-size};
  --#{$prefix}nav-link-font-weight: #{$lux-nav-link-font-weight};
  --#{$prefix}nav-link-color: #{$lux-nav-link-color};
  --#{$prefix}nav-link-hover-color: #{$lux-nav-link-hover-color};
  --#{$prefix}nav-link-bg: #{$lux-nav-link-bg};
  --#{$prefix}nav-link-hover-bg: #{$lux-nav-link-hover-bg};
  --#{$prefix}nav-link-inner-gap: #{rem($lux-nav-link-inner-gap)};
  --#{$prefix}nav-icon-size: #{$lux-nav-icon-size};

  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &__item {
    & + & {
      margin-left: var(--#{$prefix}nav-item-gap-x);
    }

    &--dropdown {
      position: relative;
    }

    &:hover {
        #{$root}__icon {
          transform: rotate(-180deg);
        }
  
        #{$root}__dropdown-menu, #{$root}__mega-menu  {
          visibility: visible;
          opacity: 1;
        }
      }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: var(--#{$prefix}nav-link-inner-gap);
    font-size: var(--#{$prefix}nav-link-font-size);
    font-weight: var(--#{$prefix}nav-link-font-weight);
    padding: var(--#{$prefix}nav-link-padding-y)
      var(--#{$prefix}nav-link-padding-x);
    border-radius: $border-radius-lg;

    @include basic-transition();

    @include on-event(true) {
      color: var(--#{$prefix}nav-link-color);
    }

    @include on-event() {
      background-color: var(--#{$prefix}nav-link-hover-bg);
    }

    &--disabled {
      color: var(--#{$prefix}disabled-text-emphasis);
      pointer-events: none;
    }

    &:focus,
    &:active,
    &.is-active {
      background-color: var(--#{$prefix}brand-bg-subtle);
    }
  }

  &__icon {
    font-size: var(--#{$prefix}nav-icon-size);
    @include basic-transition();
  }

  &__dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    @include basic-transition();

    &--center {
      left: 50%;
      transform: translateX(-50%);
    }

    &--end {
      left: auto;
      right: 0;
    }
  }

  &__mega-menu {
    position: absolute;
    top: calc(100% - var(--#{$prefix}navbar-padding-y));
    left: 0;
    visibility: hidden;
    opacity: 0;
    @include basic-transition();
  }


  &--end {
    margin-left: auto;
    justify-content: flex-end;
  }

  &--center {
    margin: 0 auto;
    justify-content: center;
  }
}
