/*!
 * Mashroom Theme Tools Index
 * Psychedelic mushroom-inspired theme with trippy visuals
 */

// Trippy mixins and functions specific to the mashroom theme
@forward './tools.trippy-effects';
@forward './tools.psychedelic-gradients';