// Spacing Preview Styles
.spacing-preview {
  color: var(--atomix-primary-text);
  background-color: var(--atomix-brand-bg-subtle);
  min-height: 100vh;
  transition:
    background-color 0.3s,
    color 0.3s;

  .section-description {
    max-width: 800px;
  }
}

.spacing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.spacing-example {
  .spacing-visual {
    width: 100%;
    background-color: var(--atomix-secondary-bg-subtle);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;

    .spacing-visual-inner {
      height: 1.5rem;
      width: var(--spacing-size);
      background-color: var(--atomix-brand-bg-subtle);
      border-radius: 3px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 100%;
        background-color: var(--atomix-brand-bg);
        border-radius: 3px;
        transition:
          width 0.3s ease-out,
          background-color 0.3s ease-in-out;
      }
    }
  }

  &:hover {
    .spacing-visual-inner {
      &::after {
        width: var(--spacing-size);
        background-color: var(--atomix-primary);
      }
    }
  }
}
