@use 'settings.border-radius' as radius;
@use 'settings.typography' as fonts;

$badge-font-size: fonts.$font-size-xs !default;
$badge-font-weight: fonts.$font-weight-normal !default;
$badge-padding-x: 10px !default;
$badge-padding-y: 6px !default;
$badge-padding-y-sm: 4px !default;
$badge-padding-y-lg: 8px !default;
$badge-border-radius: radius.$border-radius-pill !default;
$badge-icon-size: 16px !default;
$badge-inner-items-gap: 6px !default;
