$border-radius: 0.5rem !default; //8px
$border-radius-sm: 0.25rem !default; //4px
$border-radius-md: $border-radius !default; //4px
$border-radius-lg: 0.625rem !default; //10px
$border-radius-xl: 0.75rem !default; //12px
$border-radius-xxl: 1rem !default; //16px
$border-radius-3xl: 1.5rem !default; //24px
$border-radius-4xl: 2rem !default; //32px
$border-radius-pill: 50rem !default; //800px

// Enable rounded corners
$enable-rounded: true !default;
