@use 'settings.config' as config;
@use 'settings.typography' as typography;

$hero-padding-x: 0px !default;
$hero-padding-y: 40px !default;
$hero-spacer-y: 64px !default;

$hero-bg: var(--#{config.$prefix}body-bg) !default;
$hero-overlay: var(--#{config.$prefix}brand-bg-subtle) !default;
$hero-overlay-opacity: 0.5 !default;

$hero-subtitle-font-size: typography.$font-size-sm !default;
$hero-title-font-size: typography.$display-1 !default;
$hero-text-font-size: typography.$font-size-base !default;

$hero-subtitle-color: var(--#{config.$prefix}secondary-text-emphasis) !default;
$hero-title-color: var(--#{config.$prefix}body-color) !default;
$hero-text-color: var(--#{config.$prefix}secondary-color-text-emphasis) !default;

$hero-subtitle-font-weight: typography.$font-weight-normal !default;
$hero-title-font-weight: typography.$font-weight-bold !default;
$hero-text-font-weight: typography.$font-weight-normal !default;

$hero-subtitle-margin-bottom: 12px !default;
$hero-text-margin-top: 12px !default;
$hero-actions-margin-top: 24px !default;
$hero-actions-inner-gap: 12px !default;

$hero-grid-gutter: 64px !default;
$hero-content-width: 800px !default;
