/*!
 * Boomdevs Theme Progress Settings
 * Custom progress styles for the Boomdevs theme
 */

@use '../../../styles/01-settings/settings.progress' with (
  $progress-height: 8px,
  $progress-bg: var(--atomix-gray-3),
  $progress-bar-bg: var(--atomix-primary),
  $progress-border-radius: 4px
);
