@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;
@use '../../../styles/01-settings/settings.config' as config;

.c-pagination {
  @include animations(
    'pulse-slow',
    $duration: 3s,
    $timing: ease-in-out,
    $iteration-count: infinite
  );
  
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: conic-gradient(
      var(--#{config.$prefix}primary-1),
      var(--#{config.$prefix}primary-3),
      var(--#{config.$prefix}primary-5),
      var(--#{config.$prefix}primary-3),
      var(--#{config.$prefix}primary-1)
    );
    animation: #{config.$prefix}chill-spin 10s linear infinite reverse;
    opacity: 0.03;
    z-index: -1;
  }
  
  &__list {
    @include animations(
      'float',
      $duration: 2s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }
  
  &__item {
    &:hover {
      @include animations(
        'chill-rainbow',
        $duration: 1s,
        $timing: ease-in-out,
        $iteration-count: infinite
      );
    }
  }
  
  &__link {
    @include animations(
      'wobble-chill',
      $duration: 2s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
    
    &:hover {
      @include animations(
        'float' 'color-pulse',
        $duration: 1s,
        $timing: ease-in-out,
        $iteration-count: infinite
      );
    }
    
    &--active {
      @include animations(
        'chill-rainbow',
        $duration: 2s,
        $timing: linear,
        $iteration-count: infinite
      );
    }
  }
  
  &__ellipsis {
    @include animations(
      'pulse-slow',
      $duration: 1s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }
}