@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;

.c-icon {
  @include animations(
    'slow-fade-in',
    $duration: 0.3s,
    $timing: ease-out,
    $iteration-count: 1
  );

  &:hover {
    @include animations(
      'chill-spin' 'color-wave',
      $duration: 2s,
      $timing: linear,
      $iteration-count: infinite
    );
  }

  &--pulse {
    @include animations(
      'pulse-slow' 'color-pulse',
      $duration: 1.5s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }

  &--rotate {
    @include animations(
      'chill-spin' 'chill-rainbow',
      $duration: 4s,
      $timing: linear,
      $iteration-count: infinite
    );
  }
}