@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;

.c-checkbox-group {
  @include animations('slow-fade-in-up', $duration: 0.6s, $timing: ease-out, $iteration-count: 1);

  .c-checkbox {
    &:hover {
      @include animations(
        'color-pulse',
        $duration: 1.5s,
        $timing: ease-in-out,
        $iteration-count: infinite
      );
    }

    &:checked {
      @include animations(
        'pulse-slow',
        $duration: 0.5s,
        $timing: ease-in-out,
        $iteration-count: infinite
      );
    }
  }
}
