@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;
@use '../../../styles/01-settings/settings.config' as config;

.c-callout {
  @include animations(
    'color-pulse',
    $duration: 4s,
    $timing: ease-in-out,
    $iteration-count: infinite
  );

  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 200%;
    height: 200%;
    background: radial-gradient(
      circle at center,
      var(--#{config.$prefix}primary-5) 0%,
      var(--#{config.$prefix}primary-3) 30%,
      var(--#{config.$prefix}primary-1) 60%,
      transparent 100%
    );
    animation:
      #{config.$prefix}chill-spin 15s linear infinite,
      #{config.$prefix}pulse-slow 3s ease-in-out infinite;
    opacity: 0.1;
    z-index: -1;
  }

  &:hover {
    @include animations(
      'float' 'chill-rainbow',
      $duration: 2s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );

    &::before {
      animation:
        #{config.$prefix}chill-spin 5s linear infinite reverse,
        #{config.$prefix}pulse-slow 1s ease-in-out infinite;
    }
  }
}
