@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;

.c-edge-panel {
  @include animations(
    'slow-fade-in',
    $duration: 0.5s,
    $timing: ease-out,
    $iteration-count: 1
  );

  &:hover {
    @include animations(
      'float',
      $duration: 2s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }
}