@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;
@use '../../../styles/01-settings/settings.config' as config;

.c-toggle {
  @include animations(
    'float' 'color-pulse',
    $duration: 4s,
    $timing: ease-in-out,
    $iteration-count: infinite
  );

  &:checked {
    @include animations(
      'color-pulse' 'chill-rainbow',
      $duration: 1s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }

  &__switch {
    background: conic-gradient(
      var(--#{config.$prefix}primary-1),
      var(--#{config.$prefix}primary-3),
      var(--#{config.$prefix}primary-5),
      var(--#{config.$prefix}primary-3),
      var(--#{config.$prefix}primary-1),
      var(--#{config.$prefix}primary-1)
    );
    animation: #{config.$prefix}chill-rainbow 10s linear infinite reverse;
  }

  &:hover &__switch {
    animation:
      #{config.$prefix}chill-rainbow 2s linear infinite,
      #{config.$prefix}pulse-slow 1s ease-in-out infinite;
  }

  &:checked &__switch {
    animation:
      #{config.$prefix}chill-rainbow 1s linear infinite,
      #{config.$prefix}color-wave 2s ease-in-out infinite;
  }
}

.c-toggle--hypnotic {
  @include animations(
    'color-wave',
    $duration: 3s,
    $timing: ease-in-out,
    $iteration-count: infinite
  );

  .c-toggle__switch {
    background: conic-gradient(
      var(--#{config.$prefix}primary-1),
      var(--#{config.$prefix}primary-3),
      var(--#{config.$prefix}primary-5),
      var(--#{config.$prefix}primary-7),
      var(--#{config.$prefix}primary-5),
      var(--#{config.$prefix}primary-3),
      var(--#{config.$prefix}primary-1)
    );
    background-size: 200% 200%;
    animation: #{config.$prefix}chill-rainbow 3s linear infinite;
  }

  &:checked .c-toggle__switch {
    animation:
      #{config.$prefix}chill-rainbow 1s linear infinite,
      #{config.$prefix}color-wave 2s ease-in-out infinite;
  }
}
