@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;
@use '../../../styles/01-settings/settings.config' as config;

.c-countdown {
  &__item {
    @include animations(
      'pulse-slow',
      $duration: 2s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );

    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: -100%;

      background: conic-gradient(
        var(--#{config.$prefix}primary-1),
        var(--#{config.$prefix}primary-3),
        var(--#{config.$prefix}primary-5),
        var(--#{config.$prefix}primary-7),
        var(--#{config.$prefix}primary-5),
        var(--#{config.$prefix}primary-3),
        var(--#{config.$prefix}primary-1)
      );
      animation: #{config.$prefix}chill-spin 6s linear infinite reverse;
      opacity: 0.1;
      z-index: -1;
    }
  }

  &__value {
    @include animations('float', $duration: 3s, $timing: ease-in-out, $iteration-count: infinite);
  }

  &__label {
    @include animations(
      'color-pulse',
      $duration: 4s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }

  &--warning {
    @include animations(
      'chill-rainbow',
      $duration: 1s,
      $timing: linear,
      $iteration-count: infinite
    );
  }

  &--critical {
    @include animations(
      'chill-rainbow' 'pulse-slow',
      $duration: 0.5s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }
}
