@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;
@use '../../../styles/01-settings/settings.config' as config;

.c-progress {
  @include animations(
    'pulse-slow',
    $duration: 2s,
    $timing: ease-in-out,
    $iteration-count: infinite
  );
  
  position: relative;
  overflow: hidden;
  
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: conic-gradient(
      var(--#{config.$prefix}primary-1),
      var(--#{config.$prefix}primary-3),
      var(--#{config.$prefix}primary-5),
      var(--#{config.$prefix}primary-3),
      var(--#{config.$prefix}primary-1)
    );
    animation: #{config.$prefix}chill-spin 10s linear infinite reverse;
    opacity: 0.05;
    z-index: -1;
  }
  
  &__bar {
    @include animations(
      'chill-rainbow',
      $duration: 3s,
      $timing: linear,
      $iteration-count: infinite
    );
    
    position: relative;
    
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: conic-gradient(
        var(--#{config.$prefix}primary-3),
        var(--#{config.$prefix}primary-5),
        var(--#{config.$prefix}primary-7),
        var(--#{config.$prefix}primary-5),
        var(--#{config.$prefix}primary-3)
      );
      animation: #{config.$prefix}chill-spin 5s linear infinite;
      opacity: 0.2;
      z-index: -1;
    }
  }
}