@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;
@use '../../../styles/01-settings/settings.config' as config;

.c-accordion {
  &__header {
    @include animations(
      'pulse-slow',
      $duration: 3s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );

    position: relative;
    overflow: hidden;

    &:hover {
      @include animations(
        'float' 'color-pulse',
        $duration: 1.5s,
        $timing: ease-in-out,
        $iteration-count: infinite
      );

      &::before {
        animation: #{config.$prefix}chill-spin 4s linear infinite;
        opacity: 0.1;
      }
    }

    &--active {
      @include animations(
        'color-wave',
        $duration: 2s,
        $timing: ease-in-out,
        $iteration-count: infinite
      );

      &::before {
        animation: #{config.$prefix}chill-rainbow 3s linear infinite;
        opacity: 0.1;
      }
    }
  }

  &__body {
    @include animations('slow-fade-in', $duration: 0.3s, $timing: ease-in-out, $iteration-count: 1);
  }
}
