@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;

.c-tag {
  @include animations(
    'slow-fade-in',
    $duration: 0.4s,
    $timing: ease-out,
    $iteration-count: 1
  );

  &:hover {
    @include animations(
      'float',
      $duration: 2s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }

  &--removable {
    &:hover {
      @include animations(
        'pulse-slow',
        $duration: 0.8s,
        $timing: ease-in-out,
        $iteration-count: infinite
      );
    }
  }
}