@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;

.c-list-group {
  @include animations('slow-fade-in-up', $duration: 0.6s, $timing: ease-out, $iteration-count: 1);
}

.c-list-group__item {
  &:hover {
    @include animations(
      'color-wave',
      $duration: 2s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }

  &.is-active {
    @include animations(
      'pulse-slow',
      $duration: 1s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }
}
