@use '../../../styles/02-tools/tools.animations' as *;
@use '../02-tools/tools.animations' as *;

.c-form-group {
  @include animations('slow-fade-in', $duration: 0.5s, $timing: ease-out, $iteration-count: 1);

  &:focus-within {
    @include animations(
      'color-wave',
      $duration: 2s,
      $timing: ease-in-out,
      $iteration-count: infinite
    );
  }
}
