@use 'sass:math';
@use 'settings.config' as config;
@use 'settings.typography' as typography;
@use 'settings.grid' as grid;

$tabs-width: 100% !default;
$tabs-nav-btn-padding-x: 8px !default;
$tabs-nav-btn-padding-y: 12px !default;
$tabs-nav-btn-font-size: typography.$font-size-base !default;
$tabs-nav-btn-font-weight: typography.$font-weight-medium !default;
$tabs-nav-btn-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$tabs-nav-btn-active-color: var(--#{config.$prefix}body-color) !default;
$tabs-nav-btn-disabled-color: var(--#{config.$prefix}disabled-text-emphasis) !default;
$tabs-nav-btn-bg: var(--#{config.$prefix}body-bg);
$tabs-nav-btn-bg-hover: var(--#{config.$prefix}secondary-bg-subtle);
$tabs-nav-btn-bg-active: var(--#{config.$prefix}body-bg);
$tabs-nav-btn-bg-disabled: var(--#{config.$prefix}body-bg);
$tabs-nav-btn-border-radius: 0px !default;
$tabs-nav-btn-border-width: 2px !default;
$tabs-nav-btn-border-color: transparent !default;
$tabs-nav-btn-border-active-color: var(--#{config.$prefix}brand-border-subtle) !default;
$tabs-nav-btn-border-disabled-color: var(--#{config.$prefix}primary-border-subtle) !default;
$tabs-nav-btns-gap: 0px !default;
$tabs-nav-btn-inner-gap: 8px !default;
$tab-nav-btn-icon-size: 20px !default;

$tabs-panel-padding-x: math.div(grid.$grid-gutter-width, 2) !default;
$tabs-panel-padding-y: $tabs-panel-padding-x !default;
