@use "sass:map";
@use "settings.z-layers" as z-layers;
@use "settings.config" as config;

$edge-panel-zindex:                 map.get(z-layers.$z-layers, 5) !default;
$edge-panel-width:                  240px !default;
$edge-panel-height:                 30vh !default;
$edge-panel-padding-x:              16px !default;
$edge-panel-padding-y:              16px !default;
$edge-panel-bg:                     var(--#{config.$prefix}body-bg) !default;
$edge-panel-color:                  var(--#{config.$prefix}body-color) !default;
$edge-panel-shadow:                 var(--#{config.$prefix}box-shadow) !default;
$edge-panel-backdrop-bg:            var(--#{config.$prefix}invert-bg-subtle) !default;
$edge-panel-backdrop-opacity:       .5 !default;
$edge-panel-backdrop-blur:          10px !default;
$edge-panel-animation-duration:     300 !default;
$edge-panel-border-color:           var(--#{config.$prefix}border-color) !default;