@use 'settings.config' as config;
@use 'settings.typography' as typography;
@use 'settings.border-radius' as border-radius;

$select-width: 300px !default;
$select-padding-x: 12px !default;
$select-padding-y: $select-padding-x !default;
$select-color: var(--#{config.$prefix}body-color) !default;
$select-font-size: typography.$font-size-sm !default;
$select-font-size-lg: typography.$font-size-base !default;
$select-icon-toggle-size: 20px !default;
$select-icon-toggle-color: var(--#{config.$prefix}secondary-text-emphasis) !default;
$select-placeholder-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$select-bg: var(--#{config.$prefix}body-bg) !default;
$select-expanded-bg: var(--#{config.$prefix}secondary-bg-subtle) !default;
$select-border-color: var(--#{config.$prefix}primary-border-subtle) !default;
$select-border-color-hover: var(--#{config.$prefix}secondary-border-subtle) !default;
$select-border-radius: border-radius.$border-radius-xl !default;
$select-inner-spacer: 8px !default;
$select-dropdown-icon-size: 24px !default;
$select-panel-padding-x: 8px !default;
$select-panel-padding-y: $select-panel-padding-x !default;
$select-panel-spacer-y: $select-panel-padding-y !default;
$select-panel-bg: var(--#{config.$prefix}body-bg) !default;
$select-panel-box-shadow: var(--#{config.$prefix}box-shadow) !default;
$select-panel-border-radius: $select-border-radius !default;
$select-item-padding-x: $select-panel-padding-x !default;
$select-item-padding-y: $select-panel-padding-y !default;
$select-item-color: var(--#{config.$prefix}body-color) !default;
$select-item-bg: var(--#{config.$prefix}body-bg) !default;
$select-item-border-radius: border-radius.$border-radius !default;
$select-item-bg-hover: var(--#{config.$prefix}secondary-bg-subtle) !default;
