@use "./settings.config" as *;
@use "./settings.typography" as *;
@use "./settings.colors" as *;
@use "./settings.border-radius" as *;

$notification-width:                    100% !default;
$notification-padding-x:                12px !default;
$notification-padding-y:                8px !default;
$notification-tost-padding-x:           $notification-padding-x !default;
$notification-tost-padding-y:           8px !default;

$notification-bg:                       var(--#{$prefix}brand-bg-subtle) !default;

$notification-border-radius:            $border-radius;
$notification-border-color:             var(--#{$prefix}brand-border-subtle) !default;
$notification-border-width:             1px !default;

$notification-title-font-size:          $font-size-sm !default;
$notification-title-font-weight:        $font-weight-medium !default;
$notification-title-color:              var(--#{$prefix}body-color) !default;

$notification-text-font-size:           $font-size-sm !default;
$notification-text-font-weight:         $font-weight-normal !default;
$notification-text-color:               var(--#{$prefix}secondary-text-emphasis) !default;

$notification-message-spacer:           8px !default;

$notification-icon-size:                20px !default;
$notification-icon-color:               var(--#{$prefix}brand-text-emphasis) !default;
$notification-close-btn-size:           20px !default;

$notification-actions-spacer:           8px !default;
$notification-actions-spacer-y:         12px !default;

$notification-toast-bg:                 var(--#{$prefix}body-bg);
$notification-box-shadow:               var(--#{$prefix}box-shadow-sm);

// $notification-color-variants:           'success', 'info', 'warning', 'error';