// Global effect toggles
$background-enable-backdrop-filter: false !default;
$background-enable-gradient-overlay: false !default;
$background-transparency-enable: true !default;
$background-enable-with-shadow: false !default;

// Core transparency levels (used in dynamic-background-core defaults)
$background-transparency: .4!default;
// Core blur levels (used in dynamic-background-core defaults)
$background-blur: 0 !default;
