@use "./settings.colors" as colors;
@use "./settings.config" as config;
@use "./settings.typography" as fonts;

$avatar-group-gap:                      8px !default;
$avatar-group-more-color:               var(--#{config.$prefix}tertiary-text-emphasis) !default;
$avatar-group-more-bg:                  var(--#{config.$prefix}secondary-bg) !default;
$avatar-group-more-font-size:           fonts.$font-size-sm !default;
$avatar-group-more-border-width:        1px !default;
$avatar-group-more-border-color:        var(--#{config.$prefix}primary-border-subtle) !default;