@use 'settings.config' as config;
@use 'settings.typography' as typography;
@use 'settings.border-radius' as border-radius;

$countdown-color: var(--#{config.$prefix}body-color) !default;
$countdown-font-size: typography.$font-size-base !default;
$countdown-font-weight: typography.$font-weight-medium !default;
$countdown-focused-time-font-size: typography.$font-size-lg !default;
$countdown-focused-label-font-size: typography.$font-size-xs !default;
$countdown-focused-border-radius: border-radius.$border-radius !default;
$countdown-focused-bg: var(--#{config.$prefix}secondary-bg-subtle) !default;
$countdown-item-padding-x: 12px !default;
$countdown-item-padding-y: 8px !default;
$countdown-items-gap: 4px !default;
$countdown-focused-items-gap: 8px !default;
