@use 'sass:string';
@use 'settings.config' as config;
@use 'settings.typography' as fonts;

$breadcrumb-font-size: fonts.$font-size-sm !default;
$breadcrumb-link-padding-y: 4px !default;
$breadcrumb-link-padding-x: 0px !default;
$breadcrumb-link-border-width: 2px !default;
$breadcrumb-items-gap: 12px !default;
$breadcrumb-margin-bottom: 16px !default;
$breadcrumb-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$breadcrumb-hover-color: var(--#{config.$prefix}body-color) !default;
$breadcrumb-active-color: var(--#{config.$prefix}body-color) !default;
$breadcrumb-bg: null !default;
$breadcrumb-divider-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$breadcrumb-divider-active-color: var(--#{config.$prefix}tertiary-text-emphasis) !default;
$breadcrumb-divider: '\203A' !default; // Unicode character for '›'
$breadcrumb-divider-size: 20px !default;
$breadcrumb-divider-gap: 12px !default;
