@use "settings.config" as config;
@use "settings.typography" as typography;
@use "settings.border-radius" as borderRadius;

$tooltip-max-width:         240px !default;
$tooltip-padding-x:         12px !default;
$tooltip-padding-y:         8px !default;
$tooltip-bg:                var(--#{config.$prefix}invert-bg-subtle) !default; 

$tooltip-font-size:         typography.$font-size-xs !default;
$tooltip-font-weight:       typography.$font-weight-normal !default;
$tooltip-color:             var(--#{config.$prefix}invert-text-emphasis) !default;

$tooltip-border-radius:     borderRadius.$border-radius !default;
$tooltip-border-width:      null !default;
$tooltip-border-color:      null !default;
$tooltip-box-shadow:        null !default;

$tooltip-arrow-size:        12px !default;
