// Global effect toggles
$background-enable-backdrop-filter: false !default;
$background-enable-gradient-overlay: true !default;
$background-transparency-enable: true !default;
$background-enable-with-shadow: true !default;

// Core transparency levels (used in dynamic-background-core defaults)
$background-transparency: 0.5 !default;
// Core blur levels (used in dynamic-background-core defaults)
$background-blur: 2 !default;
