@use "settings.config" as config;
@use "settings.typography" as fonts;

$card-spacer-y:                     16px !default;
$card-spacer-x:                     16px !default;
$card-row-spacer-y:                 12px !default;
$card-row-spacer-x:                 12px !default; 
$card-title-spacer-y:               4px !default;
$card-action-spacer-y:              12px !default;
$card-header-spacer-y:              12px !default;


$card-title-color:                  var(--#{config.$prefix}body-color) !default;
$card-title-font-size:              fonts.$font-size-base !default;
$card-text-color:                   var(--#{config.$prefix}secondary-text-emphasis) !default;
$card-text-font-size:               fonts.$font-size-sm !default;

$card-border-width:                 1px !default;
$card-border-color:                 var(--#{config.$prefix}border-primary-subtle) !default;

$card-border-radius:                var(--#{config.$prefix}border-radius-lg) !default;
$card-image-border-radius:          $card-border-radius !default;

$card-boxshadow:                    null !default;
$card-height:                       null !default;

$card-bg:                           var(--#{config.$prefix}body-bg) !default;
$card-bg-hover:                     var(--#{config.$prefix}secondary-bg-subtle) !default;


$card-icon-size:                    20px !default;
$card-icon-padding:                 10px !default; 
$card-icon-bg:                      var(--#{config.$prefix}brand-bg-subtle) !default;
$card-icon-color:                   var(--#{config.$prefix}brand-text-emphasis) !default;

$card-width:                        100% !default;

$card-hover:                        true !default;

