@use './settings.config' as *;
@use './settings.typography' as *;
@use './settings.colors' as *;
@use './settings.border-radius' as *;

$pagination-size: 32px !default;
$pagination-size-sm: 24px !default;
$pagination-size-lg: 40px !default;

$pagination-padding-x: 8px !default;
$pagination-padding-y: 8px !default;

$pagination-font-size: $font-size-sm !default;

$pagination-color: var(--#{$prefix}secondary-text-emphasis) !default;
$pagination-bg: var(--#{$prefix}body-bg) !default;
$pagination-border-radius: $border-radius-pill !default;

$pagination-focus-border-width: 2px !default;
$pagination-focus-border-color: var(--#{$prefix}brand-border-subtle) !default;

$pagination-hover-color: var(--#{$prefix}body-color) !default;
$pagination-hover-bg: var(--#{$prefix}secondary-bg-subtle) !default;

$pagination-active-color: var(--#{$prefix}body-color) !default;
$pagination-active-bg: var(--#{$prefix}brand-bg-subtle) !default;

$pagination-disabled-color: var(--#{$prefix}tertiary-text-emphasis) !default;
$pagination-disabled-bg: var(--#{$prefix}body-bg) !default;
