@use "./settings.border-radius" as radius;
@use "./settings.colors" as colors;
@use "./settings.config" as config;

$avatar-size: (
    xs:         24px,
    sm:         32px,
    md:         40px,
    lg:         48px,
    xl:         56px,
) !default;     

$avatar-border-radius: (
    xs:         radius.$border-radius-sm,
    sm:         radius.$border-radi us-sm,
    md:         radius.$border-radius,
    lg:         radius.$border-radius,
    xl:         radius.$border-radius,
    circle:     50%
) !default;

$avatar-color:                      var(--#{config.$prefix}primary-text-emphasis) !default;
$avatar-bg:                         var(--#{config.$prefix}secondary-bg) !default;
$avatar-border-width:               1px !default;
$avatar-border-color:               var(--#{config.$prefix}primary-border-subtle) !default;

$avatar-fit:                        cover;