@use 'settings.typography' as typography;
@use 'settings.config' as config;

$sectionintro-padding-x: 0px !default;
$sectionintro-padding-y: 40px !default;

$sectionintro-title-font-size: typography.$h1-font-size !default;
$sectionintro-text-font-size: typography.$font-size-base !default;

$sectionintro-title-color: var(--#{config.$prefix}body-color) !default;
$sectionintro-text-color: var(--#{config.$prefix}body-color) !default;

$sectionintro-title-font-weight: typography.$font-weight-bold !default;
$sectionintro-text-font-weight: typography.$font-weight-normal !default;

$sectionintro-label-margin-bottom: 12px !default;
$sectionintro-text-margin-top: 12px !default;
$sectionintro-actions-margin-top: 23px !default;
$sectionintro-actions-inner-gap: 12px !default;

$sectionintro-width: 648px !default;
