@use './settings.config' as *;
@use './settings.typography' as *;
@use './settings.border-radius' as *;
@use './settings.colors' as *;

$modal-inner-padding: 16px !default;

$modal-content-color: null !default;
$modal-content-bg: var(--#{$prefix}body-bg) !default;
$modal-content-border-radius: $border-radius-xl !default;
$modal-content-box-shadow: var(--#{$prefix}box-shadow) !default;

$modal-header-padding-bottom: 12px !default;
$modal-title-font-size: $font-size-lg !default;
$modal-sub-margin-top: 4px !default;
$modal-sub-font-size: $font-size-sm !default;
$modal-sub-color: var(--#{$prefix}tertiary-text-emphasis) !default;

$modal-footer-items-gap: 8px !default;

$modal-backdrop-bg: var(--#{$prefix}invert-bg-subtle) !default;
$modal-backdrop-opacity: 0.5 !default;
$modal-backdrop-blur: 10px !default;

$modal-close-icon-color: $black !default;
$modal-close-icon-size: 30px !default;

$modal-sm: 400px !default;
$modal-md: 800px !default;
$modal-lg: 1000px !default;
$modal-xl: 1140px !default;
