@use '../../../styles/01-settings/settings.tabs' with (
  $tabs-width: 100%,
  $tabs-nav-btn-padding-x: 16px,
  // 16px - more padding
  $tabs-nav-btn-padding-y: 12px,
  // 12px
  $tabs-nav-btn-font-size: 16px,
  // 16px
  $tabs-nav-btn-font-weight: 500,
  $tabs-nav-btn-color: var(--atomix-tertiary-text-emphasis),
  $tabs-nav-btn-active-color: var(--atomix-body-color),
  $tabs-nav-btn-disabled-color: var(--atomix-disabled-text-emphasis),
  $tabs-nav-btn-bg: var(--atomix-body-bg),
  $tabs-nav-btn-bg-hover: var(--atomix-secondary-bg-subtle),
  $tabs-nav-btn-bg-active: var(--atomix-body-bg),
  $tabs-nav-btn-bg-disabled: var(--atomix-body-bg),
  $tabs-nav-btn-border-radius: 6px,
  // 6px - softer corners
  $tabs-nav-btn-border-width: 2px,
  $tabs-nav-btn-border-color: transparent,
  $tabs-nav-btn-border-active-color: var(--atomix-brand-border-subtle),
  $tabs-nav-btn-border-disabled-color: var(--atomix-primary-border-subtle),
  $tabs-nav-btns-gap: 4px,
  // 4px - small gap between tabs
  $tabs-nav-btn-inner-gap: 8px,
  // 8px
  $tab-nav-btn-icon-size: 18px,

  // 18px
  $tabs-panel-padding-x: 16px,
  // 16px
  $tabs-panel-padding-y: 16px // 16px
);
