/*!
 * Boomdevs Theme Border Settings
 * Custom border styles for the Boomdevs theme
 */

@use '../../../styles/01-settings/settings.border' with (
  $border-color: var(--atomix-gray-4),
  $border-width: 1px,
  $border-style: solid
);
