/*!
 * Boomdevs Theme Input Settings
 * Custom input styles for the Boomdevs theme
 */

@use '../../../styles/01-settings/settings.input' with (
  $input-border-radius: 6px,
  $input-hover-border-color: var(--atomix-primary),
  $input-focus-border-color: var(--atomix-primary),
  $input-placeholder-color: var(--atomix-neutral-7),
  $input-bg: var(--atomix-light),
  $input-padding-y: 8px,
  $input-padding-x: 12px
);