@use 'sass:map';
@use '../01-settings/settings.typography' as *;
@use '../01-settings/settings.config' as config;
@use '../01-settings/settings.maps' as color-maps;
@use '../01-settings/settings.colors' as colors;

// Define utilities for text
$utilities-text: (
  'font-size': (
    rfs: true,
    property: font-size,
    class: u-fs,
    values: $font-sizes,
  ),
  'font-style': (
    property: font-style,
    class: u-fst,
    values: (
      italic: italic,
      normal: normal,
    ),
  ),
  'font-weight': (
    property: font-weight,
    class: u-fw,
    values: (
      light: $font-weight-light,
      normal: $font-weight-normal,
      medium: $font-weight-medium,
      semibold: $font-weight-semibold,
      bold: $font-weight-bold,
      heavy: $font-weight-heavy,
      black: $font-weight-black,
    ),
  ),
  'line-height': (
    property: line-height,
    class: u-lh,
    values: (
      1: 1,
      sm: $line-height-sm,
      base: $line-height-base,
      lg: $line-height-lg,
    ),
  ),
  'text-align': (
    responsive: true,
    property: text-align,
    class: u-text,
    values: (
      start: left,
      end: right,
      center: center,
    ),
  ),
  'text-decoration': (
    class: u-td,
    property: text-decoration,
    values: none underline line-through,
  ),
  'text-transform': (
    property: text-transform,
    class: u-text,
    values: lowercase uppercase capitalize,
  ),
  'white-space': (
    property: white-space,
    class: u-text,
    values: (
      wrap: normal,
      nowrap: nowrap,
    ),
  ),
  'word-wrap': (
    property: word-wrap word-break,
    class: u-text,
    values: (
      break: break-word,
    ),
    rtl: false,
  ),
  'color': (
    property: color,
    class: u-text,
    values: color-maps.$utilities-text-colors,
  ),
  'text-emphasis-color': (
    property: color,
    class: u-text,
    values: color-maps.$utilities-text-emphasis-colors,
  ),
);
