/*!
 * Yabai Theme Breakpoints Settings
 * Responsive breakpoints for high-energy layouts
 * Overrides Atomix default breakpoint settings
 */

@use '../../../styles/01-settings/settings.breakpoints' with (
  // Grid breakpoints - using the same as base but explicitly defined
  $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
  )
);