/*!
 * Shaj Default Theme Component Overrides
 * Additional component styling for modern aesthetics
 */

@use '../01-settings/settings.config' as *;

// Import component overrides
@forward './components.button';
@forward './components.card';
@forward './components.input';
@forward './components.navbar';
@forward './components.tooltip';