// Spacing scale (matches Atomix)
$spacer: 16px !default;

$spacing-sizes: (
  0: 0px,
  1: 4px,
  // 4px
  2: 8px,
  // 8px
  3: 12px,
  // 12px
  4: 16px,
  // 16px
  5: 20px,
  // 20px
  6: 24px,
  // 24px
  7: 28px,
  // 28px
  8: 32px,
  // 32px
  9: 36px,
  // 36px
  10: 40px,
  // 40px
  11: 44px,
  // 44px
  12: 48px,
  // 48px
  14: 56px,
  // 56px
  16: 64px,
  // 64px
  20: 80px,
  // 80px
  24: 96px,
  // 96px
  28: 112px,
  // 112px
  32: 128px,
  // 128px
  36: 144px,
  // 144px
  40: 160px,
  // 160px
  44: 176px,
  // 176px
  48: 192px,
  // 192px
  52: 208px,
  // 208px
  56: 224px,
  // 224px
  60: 240px,
  // 240px
  64: 256px,
  // 256px
  72: 288px,
  // 288px
  80: 320px,
  // 320px
  90: 360px, // 360px
) !default;

$spacing-important: true !default;
$enable-negative-margins: false !default;