/*!
 * Applemix Theme Colors
 * Apple Mac OS 2026 Liquid Glass inspired color palette
 * Features transparency, depth, and chromatic effects
 */

@use 'sass:color';
@use '../../../styles/02-tools/tools.to-rgb' as *;
@use '../../../styles/02-tools/tools.color-functions' as *;
@use '../../../styles/01-settings/settings.colors' with (
  $white: #ffffff,
  $black: #000000,
  $color-contrast-dark: #1d1d1f,
  $color-contrast-light: #f5f5f7,
  $red-1: #fff5f5,
  $red-2: #ffe3e3,
  $red-3: #ffc9c9,
  $red-4: #ff9f9f,
  $red-5: #ff6b6b,
  $red-6: #ff3b30,
  $red-7: #d70015,
  $red-8: #a50000,
  $red-9: #750000,
  $red-10: #4a0000,
  $green-1: #f0fff4,
  $green-2: #dcfce7,
  $green-3: #bbf7d0,
  $green-4: #86efac,
  $green-5: #4ade80,
  $green-6: #30d158,
  $green-7: #28cd41,
  $green-8: #20a934,
  $green-9: #198527,
  $green-10: #12611a,
  $yellow-1: #fffbf0,
  $yellow-2: #fff3c4,
  $yellow-3: #ffe066,
  $yellow-4: #ffcc02,
  $yellow-5: #ffb000,
  $yellow-6: #ff9500,
  $yellow-7: #ff8c00,
  $yellow-8: #e67300,
  $yellow-9: #cc5500,
  $yellow-10: #b33c00,
  $blue-1: #f0f8ff,
  $blue-2: #e1f2ff,
  $blue-3: #c7e9ff,
  $blue-4: #9dd7ff,
  $blue-5: #64c7ff,
  $blue-6: #007aff,
  $blue-7: #0056d6,
  $blue-8: #003d99,
  $blue-9: #002966,
  $blue-10: #001a44,
  $gray-1: #fafafa,
  $gray-2: #f5f5f7,
  $gray-3: #e5e5e7,
  $gray-4: #d1d1d6,
  $gray-5: #aeaeb2,
  $gray-6: #8e8e93,
  $gray-7: #636366,
  $gray-8: #48484a,
  $gray-9: #2c2c2e,
  $gray-10: #1c1c1e,
  $primary-1: #f0f8ff,
  $primary-2: #e1f2ff,
  $primary-3: #c7e9ff,
  $primary-4: #9dd7ff,
  $primary-5: #64c7ff,
  $primary-6: #007aff,
  $primary-7: #0056d6,
  $primary-8: #003d99,
  $primary-9: #002966,
  $primary-10: #001a44
);
